.about__intro {
  background: var(--gradient-2--LGO__reg);
  padding-bottom: 9.6rem;
}

.about__intro-image {
  margin-bottom: 7.2rem;
}
.about__introImage--S {
  display: none;
}

.about__intro-description {
  background: var(--warm-white);
  padding: 5.6rem;
  border-radius: 2.4rem;
  position: absolute;
  top: 55%;
  width: 40rem;
  box-shadow: 0.8rem 0.8rem 4rem rgb(189, 163, 14, 30%);
}

.about__stats {
  display: flex;
  gap: 2.4rem;
}

.about__statsBox {
  width: 9.6rem;
  padding: 3.6rem;
  background: var(--green-lightest);
  border: 1px solid var(--green-lighter);
  border-radius: var(--sc-24);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.about__statsBox h5 {
  margin-bottom: var(--sc-12);
}

.about__stats > .about__statsBox:nth-child(-n + 3) {
  background: var(--orange-lightest);
  border: 1px solid var(--orange-lighter);
}
.about__value {
  padding: 14.4rem 0 7.2rem 0;
}
.about__value--wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.about__value-decriptionBox {
  display: flex;
  flex-flow: wrap;
  gap: var(--sc-24);
}
.about__value-decription {
  width: 40%;
  background: #eee;
  padding: 2.4rem;
  border-radius: 2.4rem;
}

.about__value-decription:nth-child(1) {
  background: var(--green-lightest);
  /* border: 2px solid var(--green-lighter); */
}
.about__value-decription:nth-child(2) {
  background: var(--orange-lightest);
  /* border: 2px solid var(--orange-lighter); */
}
.about__value-decription:nth-child(3) {
  background: var(--blue-lightest);
  /* border: 2px solid var(--blue-lighter); */
}
.about__value-decription:nth-child(4) {
  background: var(--red-lightest);
  /* border: 2px solid liner; */
}

.about__interest--wrapper {
  background: var(--black);
  border-radius: var(--sc-40);
  padding: 9.6rem;
}

.about__interest--wrapper h2 {
  margin-bottom: 7.2rem;
}

.about__interest {
  padding: 7.2rem 0;
}

.about__interest--info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__image--list {
  display: flex;
  flex-flow: wrap;
  width: 60%;
}

.about__interst--list p {
  font-size: 3.2rem;
}

.about__image--list img {
  width: 16rem;
}

.about__image--list {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  gap: 1.6rem;
}
.about__image--list img {
  width: auto;
  max-height: 25rem;
  border-radius: 2.4rem;
  transform: scale(1);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.27, 0.22, 0.35, 1.58);
}

.about__image--list img:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.04);
}

.about__skills--wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.about__skills {
  padding: 7.2rem 0;
  background: var(--gradient-1--LGW__rev);
}

.about__skills--descriptionBox {
  padding-bottom: var(--sc-32);
}

.about__skills--descriptionBox:nth-child(-n + 2) {
  margin-bottom: 4.8rem;
  border-bottom: 1px solid var(--green-lighter);
}

/* Smartphones (portrait and smaller) */
@media (max-width: 1024px) {
  /* Styles for smartphones */
  .about__intro {
    padding-bottom: 4rem;
  }
  .about__intro-description {
    position: relative;
    padding: 2rem;
    width: inherit;
    margin-bottom: 2rem;
  }
  .about__intro-image {
    width: inherit;
    margin-bottom: 2rem;
  }
  .about__intro-image img {
    width: 100%;
    height: auto;
  }
  .about__introImage--XL {
    display: none;
  }
  .about__introImage--S {
    display: block;
  }
  .about__stats {
    flex-flow: wrap;
    gap: 1.2rem;
    height: 19rem;
    overflow-y: scroll;
    padding: 0.4rem 0;
  }
  .about__statsBox {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .about__statsBox h5 {
    margin-bottom: 0;
  }
  .about__value {
    padding: 4rem 0;
  }
  .about__value--wrapper {
    grid-template-columns: 1fr;
  }
  .about__value-decription {
    width: 100%;
    padding: 1.6rem;
  }
  .about__value-decriptionBox {
    gap: 1.2rem;
  }
  .about__value--title {
    margin-bottom: 2rem;
  }
  .about__interest {
    padding: 2rem 0;
  }
  .about__interest--info {
    grid-template-columns: 1fr;
  }
  .about__interest--wrapper {
    border-radius: 2.8rem;
    padding: 3.2rem 1.6rem;
  }
  .about__interest--wrapper h2 {
    margin-bottom: 2rem;
  }
  .about__interst--list {
    margin-bottom: 2rem;
  }
  .about__interst--list p {
    font-size: 1.8rem;
  }
  .about__image--list img {
    width: 100%;
    max-height: fit-content;
  }
  .about__skills {
    padding: 4rem 0;
  }
  .about__skills--wrapper {
    grid-template-columns: 1fr;
  }
  .about__skills--title {
    margin-bottom: 2rem;
  }
  .about__skills--descriptionBox:nth-child(-n + 2) {
    margin-bottom: 2.4rem;
  }
  .about__skills--descriptionBox {
    padding-bottom: 2rem;
  }
}

/* Smartphones (landscape) and smaller tablets (portrait) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for landscape smartphones and smaller tablets */
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets in portrait mode */
}

/* Tablets (landscape) and small laptops */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* Styles for tablets in landscape and small laptops */
}

/* Laptops and desktops */
@media (min-width: 1201px) {
  /* Styles for laptops and desktops */
}
