/* Button */
.button-gen {
  border-radius: var(--sc-12);
  border: 1px solid transparent;
  padding: 0.8rem 1.2rem;
  font-size: var(--fontSize-paragraph-regular);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  transition: background 0.3s, color 0.1s;
  transition-timing-function: ease-in-out;
}
.button-primary {
  background: var(--green);
  outline-color: var(--green);
  background-color: var(--green);
  color: var(--white);
}
.button-outline {
  border: 0.15rem solid var(--green);
  color: var(--green);
  outline-color: var(--green);
  background: transparent;
}
.button-link {
  background: transparent;
  color: var(--green);
  padding: 1.6rem 0;
  text-decoration: underline;
}

.button-primary:hover {
  color: var(--white);
}
.button-primary:hover,
.button-outline:hover {
  background: var(--green-dark);
}
.button-outline:hover {
  background: var(--green-lightest);
}
.nav__wrapper .showMenuBtn {
  display: none;
}
/* sectionHead */

.sectionHead {
  margin-bottom: 8.8rem;
  text-align: center;
}

/* Cards */

.HighlightCard__Container {
  display: flex;
  flex-wrap: wrap;
  max-width: 120rem;
  width: 100%;
  row-gap: 2.4rem;
  justify-content: space-between;
}
.HighlightCard__subContainer--1 {
  display: flex;
}
.HighlightCard__subContainer--2 {
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
}
.HighlightCard__Wrapper {
  display: flex;
  align-items: center;
  border-radius: var(--corner-lg);
  padding: 2.4rem;
  gap: 2.4rem;
}
.HighlightCard__Wrapper:nth-child(1) {
  width: 100%;
  border: 1px solid var(--blue-lightest);
}
.HighlightCard__Wrapper:nth-child(2) {
  border: 1px solid var(--green-lightest);
}
.HighlightCard__Wrapper:nth-child(3) {
  border: 1px solid var(--orange-lightest);
}
.HighlightCard__Wrapper:nth-child(2),
.HighlightCard__Wrapper:nth-child(3) {
  width: calc(100% / 2 - 6.1rem);
}
.HighlightCard__TextBox {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem;
  background: var(--gradient-3--LBW__105);
  box-shadow: var(--shadow-1);
  border-radius: var(--corner-lg);
}

.HighlightCard__Wrapper:nth-child(1) .HighlightCard__TextBox {
  background: var(--gradient-3--LBW__195);
}

.HighlightCard__Wrapper:nth-child(2) .HighlightCard__TextBox {
  background: var(--gradient-3--LGW__195);
}

.HighlightCard__Wrapper:nth-child(3) .HighlightCard__TextBox {
  background: var(--gradient-3--LOW__195);
}

/* Workcard */
.workcard__tags--wrapper {
  display: flex;
  flex-flow: wrap;
  gap: var(--sc-8);
  margin-bottom: var(--sc-24);
}

.workcard__wrapper {
  display: flex;
  justify-content: space-around;
  display: flex;
  justify-content: space-around;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}
.workcard {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: var(--sc-24);
  border-radius: var(--sc-24);
  padding: 2.4rem;
}
.workcard:nth-child(1) {
  border: 1px solid var(--green-lightest);
  /* background: var(--gradient-1--LGW__reg); */
}
.workcard:nth-child(2) {
  border: 1px solid var(--blue-lightest);
  /* background: var(--gradient-3--LBW__reg); */
}

.workcard__body {
  box-shadow: var(--shadow-1);
  padding: 2.4rem;
  border-radius: var(--corner-lg);
}
.workcard__body h3 {
  margin-bottom: var(--sc-16);
}

.workcard__description {
  padding-inline-start: var(--sc-16);
}
.workcard__head {
  border-radius: var(--sc-24);
  box-shadow: var(--shadow-1);
}

.workcard__head img {
  width: 100%;
  border-radius: inherit;
}
.workcard__crick .workcard__head img {
  box-shadow: 0 var(--sc-8) var(--sc-24) rgba(209, 87, 11, 0.1);
}
.workcard__insta .workcard__head img {
  box-shadow: 0 var(--sc-8) var(--sc-24) hsla(119, 84%, 15%, 0.1);
}

.workcard__footer {
  display: flex;
  justify-content: center;
  padding-bottom: var(--sc-24);
}
.workcard__footer button {
  width: 100%;
  justify-content: center;
  margin: 0 var(--sc-24);
}
.workcard--img {
  max-width: 120rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--sc-24);
  border-radius: var(--sc-24);
  padding: 2.4rem;
  cursor: not-allowed;
  padding: 0;
}
.workcard--img image {
  width: 100%;
  height: auto;
}

/* Smartphones (portrait and smaller) */
@media (max-width: 767px) {
  /* Styles for smartphones */
  .nav__wrapper .showMenuBtn {
    display: block;
    line-height: 0;
  }
  .sectionHead {
    padding-top: 4rem;
    margin-bottom: 3.2rem;
  }
  /* Highlights card */

  .HighlightCard__TextBox {
    gap: 1.2rem;
    padding: 1.2rem;
  }
  .HighlightCard__Wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 2.4rem 0.8rem 0.8rem;
    gap: 1.2rem;
  }
  .HighlightCard__Container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1.2rem;
  }
  .HighlightCard__Wrapper:nth-child(1),
  .HighlightCard__Wrapper:nth-child(2),
  .HighlightCard__Wrapper:nth-child(3) {
    min-width: 80%;
  }

  .card__wrapper {
    gap: var(--sc-20);
    flex-direction: column;
  }
  .card__wrapper .card {
    width: auto;
    padding: var(--sc-16);
  }
  .workcard__wrapper {
    flex-direction: column;
  }
  .workcard {
    width: auto;
    padding: 0.8rem;
    gap: 1.2rem;
  }
  .workcard:nth-child(1),
  .workcard:nth-child(2) {
    margin-bottom: 2rem;
  }
  .workcard__body {
    padding: 0.8rem;
  }
  .workcard--img {
    width: auto;
    gap: 1.2rem;
  }
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets in portrait mode */
  .nav__wrapper .showMenuBtn {
    display: block;
    line-height: 0;
  }
  .sectionHead {
    padding-top: 4rem;
    margin-bottom: 3.2rem;
  }
  /* Highlights card */

  .HighlightCard__Wrapper:nth-child(2),
  .HighlightCard__Wrapper:nth-child(3) {
    flex-direction: column;
  }
  .workcard__wrapper {
    flex-direction: column;
  }
  .workcard {
    width: auto;
  }
  .workcard:nth-child(1),
  .workcard:nth-child(2) {
    margin-bottom: 2rem;
  }
  .workcard__head {
    width: 50%;
    height: auto;
  }
}
