/* COLORS */
.clr-green-darker {
  color: var(--green-darker);
}
.clr-green-darkest {
  color: var(--green-darkest);
}
.clr-green {
  color: var(--green);
}
.clr-orange-darker {
  color: var(--orange-darker);
}
.clr-blue-darker {
  color: var(--blue-darker);
}
.clr-green-dark {
  color: var(--green-dark);
}
.clr-orange-dark {
  color: var(--orange-dark);
}
.clr-blue-dark {
  color: var(--blue-dark);
}
.clr-red-dark {
  color: var(--red-dark);
}
.clr-red-darker {
  color: var(--red-darker);
}

.clr-grey-lighter {
  color: var(--grey-lighter);
}
.clr-grey-dark {
  color: var(--grey-dark);
}

/* FONT-SIZE */
.fs-xs {
  font-size: 1rem;
}
.fs-sm {
  font-size: 1.2rem;
}

/* ALIGNMENT */
/* text */
.txt-a-c {
  text-align: center;
}
.txt-a-l {
  text-align: left;
}
.txt-a-r {
  text-align: right;
}

/* MARGINS */
.mg-t {
  margin-top: var();
}
.mg-t-4 {
  margin-top: var(--sc-4);
}
.mg-b-4 {
  margin-bottom: var(--sc-4);
}
.mg-b-8 {
  margin-bottom: var(--sc-8);
}
.mg-b-12 {
  margin-bottom: var(--sc-12);
}
.mg-b-16 {
  margin-bottom: var(--sc-16);
}
.mg-b-20 {
  margin-bottom: var(--sc-20);
}
.mg-b-24 {
  margin-bottom: var(--sc-24);
}
.mg-b-28 {
  margin-bottom: var(--sc-28);
}
.mg-b-32 {
  margin-bottom: var(--sc-32);
}
.mg-b-40 {
  margin-bottom: var(--sc-40);
}
.mg-b-48 {
  margin-bottom: var(--sc-48);
}
.mg-b-56 {
  margin-bottom: var(--sc-56);
}

/* PADDING */

.pd-t-xs {
  padding-top: 0.8rem;
}
.pd-t-sm {
  padding-top: 1.2rem;
}
.pd-t-md {
  padding-top: 1.6rem;
}
.pd-t-lg {
  padding-top: 2.4rem;
}
.pd-t-xl {
  padding-top: 3.6rem;
}
.pd-t-xxl {
  padding-top: 4.8rem;
}
.pd-t-72 {
  padding-top: 7.2rem;
}
.pd-t-96 {
  padding-top: 9.6rem;
}
