@import url("../../CSS/navbar.css");
@import url("../../CSS/card.css");
@import url("../../CSS/footer.css");
/* Section */
.section {
  padding-bottom: 10.4rem;
}

/* Hero */
.Blur__Circle--Container {
  position: absolute;
  right: 0;
  z-index: 0;
  max-width: 70rem;
}
.Blur__Circle--Container img {
  width: 100%;
}
.Blur__Circle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    105deg,
    var(--green-lighter),
    var(--orange-lighter)
  );
  filter: blur(10rem);
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20rem;
  padding-bottom: 9.6rem;
}
.hero__wrapper p {
  max-width: 60rem;
}
.hero__text-container {
  margin: var(--margin-center);
  padding-bottom: 9.6rem;
}
.hero__text-container h4 {
  font-weight: var(--fontWight-regular);
  margin-bottom: 0.2rem;
}
.hero__text-container p {
  text-align: center;
}
.Hero__Image-wrapper {
  position: relative;
  height: 38rem;
  max-width: 75rem;
  margin: 0 auto;
}
.Hero__Image--bg {
  /* width: 48%; */
  width: 40%;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Hero__Image--bgCircle {
  width: 52%;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 30s linear infinite;
  /* you can find the respective animation in the src/CSS/animation.css file */
}
.Hero__Image--Blurbg {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.Hero__State--BBox {
  position: absolute;
  z-index: 4;
  padding: 3.2rem 2.4rem;
  border-radius: var(--corner-round);
  box-shadow: var(--shadow-1);
  display: inline-block;
}
.Hero__State--BBox-Left {
  left: 15%;
  background: var(--gradient-1--LGW__reg--90);
}
.Hero__State--BBox-Right {
  right: 8%;
  bottom: 12%;
  background: var(--gradient-1--LOW__reg--270);
}
.Hero__State--SBox {
  position: absolute;
  z-index: 4;
  padding: 1.2rem 1.6rem;
  border-radius: var(--corner-xl);
  box-shadow: var(--shadow-1);
  display: inline-block;
  background: var(--white);
  font-size: 1.2rem;
}
.Hero__State--SBox--IXDF {
  left: 19%;
  top: 33%;
}
.Hero__State--SBox--PSM {
  left: 23%;
  bottom: 10%;
}
.Hero__State--SBox--PSD {
  right: 38%;
  bottom: -7%;
}
.Hero__State--SBox--AZ {
  right: 19%;
  top: 20%;
}
.Hero__Deviderline {
  position: absolute;
  top: 50%;
  border-top: 1px dashed var(--green-lightest);
  display: block;
  width: 100%;
  height: 1px;
}
.Hero__Company {
  padding-top: 5.6rem;
}

.Hero__Company--Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10.4rem;
}
.type-annimation span {
  position: relative;
  margin-right: 8px;
}
.type-annimation span::before {
  content: "Designer";
  color: #ff7f50;
  animation: words 20s infinite;
}
.type-annimation span::after {
  position: absolute;
  right: -0.8rem;
  content: "";
  width: calc(100% + 8px);
  height: 100%;
  border-left: 2px solid var(--orange);
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: var(--warm-white);
  border-left: 2px solid var(--orange);
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
  animation-delay: 1s;
}

/* Heighlights */

/* .Highlights__Company--Container,
.Highlights__Company--Container,
.Highlights__Company--logoBox {
  animation: slidedown linear;
  animation-delay: 2s;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */

/* Modal */
/* src/components/Modal.css */
.modal-overlay {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Start hidden */
  pointer-events: none; /* Prevent interaction when hidden */
}

.modal-overlay.fade-in {
  /* opacity: 1; Fully visible */
  pointer-events: auto; /* Allow interaction when visible */
}

.modal-overlay.fade-out {
  /* opacity: 0; Fully hidden */
}

.modal-content {
  background: var(--warm-white);
  padding: 2rem;
  border-radius: var(--corner-md);
  position: relative;
}

.modal-overlay.fade-in .modal-content {
  transform: translateY(0); /* Move into place when visible */
}

/* Profile */

/* Footer */

/* NEW FOOTER STYLE */
.Footer__Container {
  padding: 9.6rem 0;
}
.Footer__Container h2 {
  padding-bottom: 7.2rem;
}
.Footer__Content {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}
.Footer__Content--Contact,
.Footer__Content--Social {
  background: var(--warm-white);
  box-shadow: var(--shadow-1);
  padding: 0 1.6rem;
  border-radius: var(--corner-lg);
  height: fit-content;
}
.Footer__Content--Contact,
.Footer__Content--Social {
  padding: 2.4rem;
}
.Footer__Content--Contact ul,
.Footer__Content--Social ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 0;
  margin: 0;
}
.Footer__Content--Contact ul:not(:last-child) {
  margin-bottom: 1.6rem;
}
.Footer__Content--Social li a {
  max-width: 7.2rem;
  display: inline-block;
  padding: 1.2rem;
  border: 1px solid var(--blue-lightest);
  border-radius: var(--corner-round);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footer__Content--Social li a img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 4rem rgba(17, 212, 75, 0.1);
}
/* .footer__bottom {
  text-align: center;
  background: linear-gradient(
    195deg,
    var(--green) 0%,
    var(--green-darker) 100%
  );
  display: flex;
  justify-content: center;
  color: var(--white);
  padding: var(--sc-24) 0;
} */

.icon--circle {
  background: var(--green);
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1.2rem;
}

.menu__dropdown {
  display: none;
  width: 72%;
  position: absolute;
  top: 6rem;
  right: 0.8rem;
  background: var(--red);

  border-radius: 1.6rem;
  padding: 2.4rem;
  color: var(--white);
  box-shadow: 0 1rem 3.2rem 2.2rem hsl(90deg 87.1% 25.54% / 10%),
    0 2rem 2rem 0rem hsl(90deg 92.13% 26.31% / 20%);

  transition: all;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu__dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu__dropdown ul li {
  padding: 1.2rem 0;
}
.menu__dropdown ul li a {
  color: var(--warm-white);
}

@media (max-width: 767px) {
  .section {
    padding-bottom: 6.4rem;
  }
  /* Hero */
  .Blur__Circle--Container {
    top: 15%;
    left: 0%;
    width: fit-content;
  }
  .hero__wrapper {
    padding-top: 10rem;
    padding-bottom: 3.2rem;
  }
  .Hero__Company--Container {
    margin-left: 0;
    margin-right: 0;
    gap: 2.4rem;
    justify-content: space-around;
  }
  .hero__right-wrapper,
  .hero__left-wrapper {
    width: auto;
  }
  .hero__wrapper .hero__right-wrapper {
    margin-bottom: 3.2rem;
  }
  .hero__text-container {
    padding-bottom: 3.2rem;
  }
  .Hero__Image-wrapper {
    height: 20rem;
    margin: 9.6rem 0;
  }
  .Hero__Image--bg {
    width: 60%;
  }
  .Hero__Image--bgCircle {
    width: 72%;
  }
  .Hero__Image--Blurbg {
    width: 100%;
  }
  .Hero__State--BBox {
    padding: 0.8rem 1.6rem;
  }
  .Hero__State--BBox-Left {
    left: 0%;
    top: 0%;
  }
  .Hero__State--BBox-Right {
    right: 0%;
    bottom: 5%;
  }
  .Hero__State--BBox-Left p,
  .Hero__State--BBox-Right p,
  .Hero__State--BBox-Left h4,
  .Hero__State--BBox-Right h4 {
    font-size: 0.8rem;
  }
  .Hero__State--SBox {
    font-size: 0.8rem;
    padding: 0.8rem;
  }

  .Hero__State--SBox--IXDF {
    left: 4%;
    top: 33%;
  }
  .Hero__State--SBox--PSM {
    left: 4%;
    bottom: 24%;
  }
  .Hero__State--SBox--PSD {
    right: 5%;
    bottom: 27%;
  }
  .Hero__State--SBox--AZ {
    right: 7%;
    top: 20%;
  }
  .type-annimation span::after {
    background-color: #faf4e5;
  }

  /* Highlights */
  .Highlights__Company--Container {
    gap: 2.4rem;
  }

  .menu__dropdown.show {
    display: inline-block;
  }

  /* MODAL */
  .modal-content {
    padding: 0.4rem;
  }

  /* Footer */
  .Footer__Container {
    padding: 4.8rem 0;
  }
  .Footer__Container h2 {
    padding-bottom: 3.2rem;
  }
  .Footer__Content {
    flex-direction: column;
  }
  .Footer__Content--Social li a {
    width: 2.4rem;
  }
  .footer__bottom {
    padding: 1.6rem var(--sc-24);
  }
  .Footer__Content--Contact,
  .Footer__Content--Social {
    padding: 1.2rem;
  }
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets in portrait mode */

  .menu__dropdown.show {
    display: inline-block;
  }
  .section {
    padding-bottom: 7.2rem;
  }
  /* Hero */
  .hero__wrapper {
    flex-direction: column;
  }
  .Hero__Company--Container {
    margin-left: 0;
    margin-right: 0;
    gap: 2.4rem;
    justify-content: space-around;
  }
  .hero__right-wrapper,
  .hero__left-wrapper {
    width: auto;
  }
  .hero__wrapper .hero__right-wrapper {
    margin-bottom: 3.2rem;
  }

  /* Footer */
  .footer__top {
    padding: 4rem 0.8rem;
  }
  .contact {
    flex-direction: column;
  }
  .contact__info {
    width: 100%;
  }
  .icon--circle {
    width: 2rem;
    height: 2rem;
  }
  .footer__bottom {
    padding: 1.6rem var(--sc-24);
  }
  .social__info {
    width: auto;
    padding-top: 2.4rem;
  }
  .social__info a {
    width: auto;
  }
  .social__info a img {
    width: 4rem;
  }
}
